---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

### Teaching Experience

**Teaching Assistant**, University of California, Davis

<br>

**ARE 100A Intermediate Microeconomics**  
Spring 2021

**ARE 171 Principles of Finance**  
Fall 2021, Winter 2022, Fall 2022, Spring 2023, Fall 2023

**ARE 107 Econometrics for Business Decisions**  
Spring 2022

**ARE 132 Cooperative Business Enterprises**  
Winter 2023

**ARE 133 Introduction to Behavioral Economics**  
Spring 2024, Fall 2024

**ARE 136 Managerial Marketing**  
Winter 2025

**ARE 100B Intermediate Microeconomics**  
Summer 2025


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
